{{#theJob}}

<form action="/jobs/{{_id}}/update" method="post">
  <label for="title">Job Title</label>
  <input type="text" name="title" value="{{title}}">
  <label for="company">Company Name</label>
  <input type="text" name="company" value="{{company}}">
  <label for="description">Job Description</label>
  <textarea name="description" rows="8" cols="40">{{description}}</textarea>
  <label for="responsibilities">Responsibilities</label>
  <textarea name="responsibilities" rows="8" cols="40">{{responsibilities}}</textarea>

  {{#if theJob.open}}
    <label for="open">This posting is...</label>
    <input class="inlineTitle" type="radio" name="open" value="true" checked>Open
    <input class="inlineTitle" type="radio" name="open" value="false">Fulfilled
  {{else}}
  <input class="inlineTitle" type="radio" name="open" value="true" >Open
  <input class="inlineTitle" type="radio" name="open" value="false" checked>Fulfilled
  {{/if}}

  <input class="btn" type="submit" value="Edit Posting">
</form>

<form action="/jobs/{{_id}}/delete" method="post">
  <input class="btn" type="submit" value="Delete Posting">
</form>
<a href="/jobs">Cancel</a>

{{/theJob}}
