{{#theJob}}

<form action="/jobs/{{_id}}/update" method="post">
  <label for="title">Job Title</label>
  <input type="text" name="title" value="{{title}}">
  <label for="company">Company Name</label>
  <input type="text" name="company" value="{{company}}">
  <label for="description">Job Description</label>
  <textarea name="description" rows="8" cols="40">{{description}}</textarea>
  <label for="responsibilities">Responsibilities</label>
  <textarea name="responsibilities" rows="8" cols="40">{{responsibilities}}</textarea>

  <!-- {{#if open}}
    <label for="open">This posting is...</label>
    <input type="radio" name="open" value="true" checked>Open
  {{/if}} -->
    <input type="radio" name="open" value="false">Fulfilled

  <input type="submit" value="Edit Posting">
  <a href="/jobs">Cancel</a>
</form>

<form action="/jobs/{{_id}}/delete" method="post">
  <input type="submit" value="Delete Posting">
</form>

{{/theJob}}
