<h2 class="inlineTitle">Current Open Postings</h2>
<a href="/jobs/new"><button type="button" name="button">Create New Job Posting</button></a>

  {{#each allJobs}}
  <div class="jobPostings">
    <h3>{{title}} - {{company}} - {{timeStamp}}</h3>
    <p>{{description}}</p>
    <a href="/jobs/{{_id}}"><button type="button" name="button">View Job</button></a>
  </div>
  {{/each}}
