
{{#theJob}}
  <h2 class="inlineTitle">{{title}} - {{company}}</h2>
  <a href="/jobs/{{_id}}/edit"><button class="floatRight" type="button" name="button">Edit Job Posting</button></a>
  <h5>{{timeStamp}}</h5>

  <h5>Job Description:</h5>
  <p>{{description}}</p>

  <h5>Responsibilities:</h5>
  <p>{{responsibilities}}</p>

  {{#if theJob.open}}
    <h5 class="alert">This posting is still open!</h5>
  {{else}}
    <h5 class="alert">Sorry! This posting has been filled.</h5>
  {{/if}}

  <a href="/jobs/{{_id}}/application"><button class="spaceButton" type="button" name="button">Apply for Job</button></a>
  <a class = "floatRight" href="/jobs">Back to all postings</a>

  <h2>Current Applicants</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Link to Resume</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  {{#each application}}
    <tr>
      <th>{{name}}</th>
      <th>{{email}}</th>
      <th>{{url}}</th>
      <form action="/jobs/{{_id}}/application/delete" method="post">
        <td> <input class="btn" type="submit" value="Delete"></td>
      </form>
    </tr>
    </tbody>
  </table>
  {{/each}}
{{/theJob}}
