<a href="/jobs">Back to all postings</a>

{{#theJob}}

  <h2 class="inlineTitle">{{title}} - {{company}}</h2>
  <a href="/jobs/{{_id}}/edit"><button type="button" name="button">Edit Job Posting</button></a>
  <h4>{{timeStamp}}</h4>

  <h4>Job Description:</h4>
  <p>{{description}}</p>

  <h4>Responsibilities:</h4>
  <p>{{responsibilities}}</p>


  <a href="/jobs/{{_id}}/application"><button type="button" name="button">Apply for Job</button></a>
    {{#if open}}
      <h4>This posting is still open</h4>
    {{/if}}

  <h2>Current Applicants</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Link to Resume</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  {{#each application}}
    <tr>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>{{url}}</td>
      <form action="/jobs/{{_id}}/application/delete" method="post">
        <td> <input type="submit" value="Delete"></td>
      </form>
    </tr>
    </tbody>
  </table>
  {{/each}}
{{/theJob}}
