<a href="/jobs">Back to all postings</a>

{{#theJob}}

  <h2>{{title}} - {{company}}</h2>
  <a href="/jobs/{{_id}}/edit"><button type="button" name="button">Edit Job Posting</button></a>
  <h4>Posted on {{timeStamp}}</h4>

  <h4>Job Description:</h4>
  <p>{{description}}</p>

  <h4>Responsibilities:</h4>
  <p>{{responsibilities}}</p>


  <a href="/jobs/{{_id}}/application"><button type="button" name="button">Apply for Job</button></a>
    {{#if open}}
      <h4>This posting is still open</h4>
    {{/if}}


  <h2>Current Applicants</h2>
{{/theJob}}
